
body {
    background-color: rgb(212, 217, 221);
}

.encabezado {
    display: flex;
    justify-content: center;
    border-style: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.encabezado, h1 {
    font-family: 'Cedarville Cursive', cursive, 'italic';
    font-family: 'Playfair Display', serif;
}

.titulo {
    display: flex;
    justify-content: center;
}

.titulo h2 {
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Playfair Display', serif;
}

 .gastronomia {
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Playfair Display', serif;

    display: flex;
    justify-content: right;
    margin-right: 60rem;
    margin-left: 8px;
 }

 .gastronomia-cuerpo {
    display: flex;
    justify-content: right;
    margin-right: 60rem;
    margin-left: 8px;
 }

 .historia {
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Playfair Display', serif;

    position: absolute;
    top:31%;
    display: flex;
    justify-content: left;
    margin-left: 60rem;
    margin-right: 8px;
 }

 .hsitoria-parrafo{
    position: absolute;
    top: 46%;
    display: flex;
    justify-content: left;
    margin-left: 60rem;
    margin-right: 8px;
 }

.lista{
    position: absolute;
    top:31%;
    left: 38%;
}

.lista-g{
    position: absolute;
    top: 41%;
    left: 36%;
}

.redac-imagen{
    width: 74%;
}